
.button-xsm,
.button-sm,
.button-md,
.button-lg {
	line-height: 100%;
	border-radius: 0;
	margin-bottom: 0;
	mso-para-margin-bottom: 0px;
}

/*Button Extra Small*/

.button-xsm {
	@extend .text-xsm;
	background-color: $color-1;
	td {
		padding: 10px 20px;
		color: $color-white;
	}
	a {
			width: 100%;
			text-align: center;
			color:  $color-white;
			text-decoration: none;
	}
}

/*Button Small*/

.button-sm {
		@extend .text-sm;
		background-color: $color-1;
		border-radius: $border-radius;
	td {
		color: $color-white;
		text-align: center;
		width: 100%;
		padding: 10px 35px;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: $color-white;
	}
}

/*Button Medium*/

.button-md {
		@extend .text-sm;
		font-size: 16px;
		background-color: $color-1;
		border-radius: $border-radius;
	td {
		color: $color-darkest;
		width: 100%;
		padding: 10px 35px;
		text-align: center;
	}
	a {
		text-decoration: none;
		color: $color-white;
	}
}

/*Button Large*/

.button-lg {
	@extend .text-lg;
	background-color: $color-1;
	td {
		padding: 20px 15px;
		display: block;
		color: #ffffff;
		font-weight: 200;
		margin-bottom: 0;
		text-transform: capitalize;
	}
	a {
			color: #ffffff;
			text-decoration: none;
	}
}

/*Button outline*/

[class*="button-outline"] {
	background-color: transparent;
}
.button-outline-white {
	border: 2px solid $color-white;
	color: $color-white;
	td {
		a, span, singleline {
			color: $color-white;
			text-decoration: none;
		}
	}
}
.button-outline-1 {
	border: 2px solid $color-1;
	color: $color-1;
	td {
		a, span, singleline {
			color: $color-1;
			text-decoration: none;
		}
	}
}
.button-outline-2 {
	border: 2px solid $color-2;
	color: $color-2;
	td {
		a, span, singleline {
			color: $color-2;
			text-decoration: none;
		}
	}
}
.button-outline-3 {
	border: 2px solid $color-3;
	color: $color-3;
	td {
		a, span, singleline {
			color: $color-3;
			text-decoration: none;
		}
	}
}
.button-outline-4 {
	border: 2px solid $color-4;
	color: $color-4;
	td {
		a, span, singleline {
			color: $color-4;
			text-decoration: none;
		}
	}
}
.button-outline-5 {
	border: 2px solid $color-5;
	color: $color-5;
	td {
		a, span, singleline {
			color: $color-5;
			text-decoration: none;
		}
	}
}
.section-button .button{
    @extend .color-bg-1;
	@extend .button-sm;
	transition: all 0.2s ease-in-out;
	a, singleline {
		font-family: $font_default;
		@extend .color-white;
	}
}
@if $button-hover == true {
	.section-button .button:hover{
		background-color: $hover-color !important;
	}
	}
