.color-white {
	color: $color-white;
}
.color-lightest {
	color: $color-lightest;
}
.color-light {
	color: $color-light;
}
.color-dark {
	color: $color-dark;
}
.color-darkest {
	color: $color-darkest;
}
.color-black {
	color: $color-black;
}
.color-bg-1 {
	background-color: $color-1;
}
.color-1 {
	color: $color-1;
	a {
		color: $color-1;
	}
}
.color-bg-2 {
	background-color: $color-2;
}
.color-2 {
	color: $color-2;
	a {
		color: $color-2;
	}
}
.color-bg-3 {
	background-color: $color-3;
}
.color-3 {
	color: $color-3;
	a {
		color: $color-3;
	}
}
.color-bg-4 {
	background-color: $color-4;
}
.color-4 {
	color: $color-4;
	a {
		color: $color-4;
	}
}
.color-bg-5 {
	background-color: $color-5;
}
.color-5 {
	color: $color-5;
	a {
		color: $color-5;
	}
}
.color-white {
	color: $color-white;
	a {
		color: $color-white;
	}
	strong {
		color: $color-white;
	}
}
.color-bg-white {
	background-color: $color-white;
}
.color-lightest {
	color: $color-lightest;
}
.color-bg-lightest {
	background-color: $color-lightest;
}
.color-light {
	color: $color-light;
}
.color-bg-light {
	background-color: $color-light;
}
.color-dark {
	color: $color-dark;
}
.color-bg-dark {
	background-color: $color-dark;
}
.color-darkest {
	color: $color-darkest;
}
.color-bg-darkest {
	background-color: $color-darkest;
}
.color-black {
	color: $color-black;
}
.color-bg-black {
	background-color: $color-black;
}