div {
    border: 1px solid rgba(100, 100, 100, 0.1);
}
*[class^='col'] {
   background-color: rgba(50, 50, 50, 0.1);
}
*[class^='section'] {
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,0.2));
}
.gap {
    background-color: red;
}
*[class^='space'] {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.2));
}
.content-outer {
    border-bottom: 1px solid black;
}
