body {
	color: $color-text-small;
	font-family: $font_default;
	font-size: 17px;
	line-height: 120%;
	margin: 0px;
	padding: 0px;
	min-width: 100% !important;
	width: 100% !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}
html,
body,
.main-background {
	background-color: $color-main_background;
}
.content-outer{
	background-color: $color-content-outer_background;
}
.inlined-image {
	vertical-align: middle;
}
a img {
	border: none;
}
p {
	margin: 0;
}
a[x-apple-data-detectors] {
	color: inherit !important;
	text-decoration: none !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
}
div[class*="spacer"]{
	@extend .space-0;
}