.content-outer-full {
    width: 100%;
}
.content-inner-full {
    width: 100%;
}
.content-outer {
    width: 620px;
}
.side {
    width: 20px;
}
.content-inner {
    width: 580px;
}
.gap {
    width: 20px;
}
.section {
    width: 100%;
}
.col-1-4 {
    width: 130px;
}
.col-1-2 {
    width: 280px;
}
.col-1-2-full {
    width: 290px;
}
.col-1-3 {
    width: 180px;
}
.col-2-3 {
    width: 380px;
}
.col-2-3-full {
    width: 390px;
}
.col-3-4 {
    width: 430px;
}
.col-full {
    width: 100%;
}
.col-1-3-full {
    width: 190px;
} 
.fluid-section {
    .col-1-2 {
        width: 48.275862069%;
    }
    .col-1-2-full {
        width: 50%;
    }
    .col-1-3 {
        width: 31.0344827586%
    }
    .col-1-3-full {
        width: 32.7586206897%;
    }
    .col-2-3-full {
        width: 67.2413793103%;
    }
    .col-3-4 {
        width: 74.1379310345%;
    }
    .gap {
        width: 3.4482758621%
    }
    .col-full {
        width: 100%;
    }
}
.line1 {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 2px;
    line-height: 2px;
    height: 2px;
    background-color: $color-1;
}