	img {
		outline: none;
		text-decoration: none;
		height: auto;
		display: block;
	}
	img.fill {
		display: block;
		height: auto;
      	outline: none;
		text-decoration: none;
	}
	@media screen and (max-width: 590px) {
		img.fill {
			width: 100% !important;
			height: auto !important;
		}
	}
	@media screen and (min-width: 800px) {
		.inner-content.full img.fill,
		.inner-content-full img.fill {
			width: 100% !important;
			height: auto !important;
		}
	}
.background-image {
    background-size: cover;
    background-position: center;
}