@if $desktop-extend == true {
@media screen and (min-width: 800px) {
    .content-inner-full img.fill {
        width: 100% !important;
        display: block;
        // This will ensure the image will fill the large desktop width
    }
    .content-outer {
        width: 780px !important;
    }
    .side {
        width: 100px !important;
    }
    .content-inner {
        width: 580px !important;
    }
    .content-inner-full {
        width: 100% !important;
    }
    .inner-content-full .section {
        width: 100% !important;
    }
}
}