@media only screen and (max-width: $mobile-max) {
		html,
		body,
		.main-background {
			padding: 0;
		}
		* {
			box-sizing: border-box !important;
		}
		.mobile-hide {
			display: none !important;
		}
		.content-outer {
			width: 100% !important;
			height: auto !important;
			box-sizing: border-box;
		}
		.content-inner {
			width: 93.5483870968% !important;
			height: auto !important;
		}
		.section {
			width: 100% !important;
			height: auto !important;
		}
		.side {
			width: 3.4482758621% !important;
		}
		.padding10 {
			padding: 10px;
		}
		.p-20 {
			padding: 20px !important;
		}
		.gap {
			height: 20px !important;
		}
		.block {
			width: 100% !important;
			min-width: 100% !important;
			display: block !important;
			clear: both !important;
			float: left !important;
		}
		.col-mobile-half-left {
			width: 48.275862069% !important;
			float: left !important;
		}
		.col-mobile-half-right {
			width: 48.275862069% !important;
			float: right !important;
		}
		.table-mobile-center {
			margin: 0 auto !important;
			text-align: center !important;
		}
		.table-mobile-left {
			text-align: left !important;
			float: left !important;
		}
		.table-mobile-right {
			margin: 0 auto !important;
			text-align: right !important;
			float: right !important;
		}
		img.fill {
			width: 100% !important;
			height: auto !important;
			display: block !important;
		}
		.mobile-text-center {
			text-align: center !important;
		}
		.mobile-text-left {
			text-align: left !important;
		}
		.mobile-text-right {
			text-align: right !important;
		}
		.button-mobile-center {
			margin: 0 auto !important;
			text-align: center !important;
		}
		.button-mobile-left {
			text-align: left !important;
			float: left !important;
		}
		.button-mobile-right {
			margin: 0 auto !important;
			text-align: right !important;
			float: right !important;
		}
		.mobile-margin-b-10 {
			margin-bottom: 10px;
		}
		.mobile-margin-b-20 {
			margin-bottom: 20px;
		}
		.swap-content {
			width: auto !important;
			display: block !important;
			overflow: hidden !important;
			max-height: inherit !important;
		}
		.color-bg-white-mobile {
			background-color: white !important;
		}
		.background-image {
			height: auto;   
		}
}

@media screen and (max-width: $mobile-max) {
	img.fill{
		max-width: 100% !important;
		width: 100% !important;
	}
}
	