.menu-item {
    text-decoration: none !important;
    margin-bottom: 0;
    a, singleline {
        text-decoration: none !important;            
    }
}
@media screen and (max-width: $mobile-max) {
   .menu-item {
        display: inline-block;
        white-space: nowrap;
        padding: 2px;
        width: 47.5%;
        margin: 0 2.5% 0px 0;
        color: black;
        border-bottom: 1px dotted grey;
        float: left;
        text-align: center;
        text-decoration: none;
    }
}
@media screen and (max-width: $tablet-max) {
 .menu-item {
        width: 100%;
        text-align: center;
    }
}