/*2-A. Typography  General*/
	/*/////////////////////////////////*/

	.text-xsm,
	.text-sm,
	.text-md,
	.text-lg,
	.text-xlg,
	.text-xxlg {
		font-family: $font_default;
		line-height: 19px;
		vertical-align: middle;
		color: $color-text-small;
		font-size: 12px;
	}

	/*2-B. Typography  Detailed*/

	/*/////////////////////////////////*/

	/*	Title - Extra small size*/
	/* ////////////////////////	*/

	.text-xsm {
    	font-size: 12px;
		font-family: $font_xsm;
		color: $color-text-small;
		a {
			color: $color-text-small-link;
			text-decoration: underline;
		}
	}

	/*	Title - Small size*/
	/* ////////////////////////	*/

	.text-sm {
		font-weight: 400;
		font-family: $font_sm;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0px;
		a {
			text-decoration: underline;
			color: $color-2;
		}
		strong {
			font-weight: 600;
			color: $color-1;
		}
	}

	/*	Title - Medium size*/
	/* ////////////////////////	*/

	.text-md {
		font-family: $font_md;
		font-size: 18px;
		letter-spacing: 0;
		line-height: 28px;
		font-weight: 300;
		color: $color-text-medium;
		a {
			text-decoration: underline;
			color: $color-2;
		}
		strong {
			font-weight: 600;
			color: $color-1;
		}
	}

	/*	Title - Large size*/
	/* ////////////////////////	*/

	.text-lg {
		font-family: $font_lg;
		font-size: 30px;
		color: $color-text-large;
		//letter-spacing: 0.5px;
		line-height: 39px;
		font-weight: 300;
		a {
			color: $color-text-large;
			text-decoration: none;
		}
		strong {
			font-weight: 600;
		}
	}

	/* Typography utilities  */
	/*/////////////////////////////////*/

	.uppercase {
		text-transform: uppercase;
	}

	.no-underline a,
	.no-underline,
	a.no-underline {
		text-decoration: none;
	}

	.italic {
		font-style: italic;
	}

	/* Typography alignments */
	/*/////////////////////////////////*/

	.desktop-text-center {
		text-align: center;
	}

	.desktop-text-right {
		text-align: right;
	}

	.desktop-text-left {
		text-align: left;
	}
	/* font stack overrides */
	/*/////////////////////////////////*/

.font_stack_1 {
    font-family: $font_stack_1;
}
.font_stack_2 {
    font-family: $font_stack_1;
}
.bold {
    font-weight: bold;
}