//FONTS

//External Font Overrides: Add Font URLs to main template nunjuck file

[style*="Open-Sans"] {
    font-family: 'Open Sans', serif !important
}


//Font Stacks: Add custom fonts to end of font stack to ensure compatibility with Outlooks

$font_stack_1: Arial, Helvetica, sans-serif, 'Open-Sans';
$font_stack_2: Arial, Helvetica, sans-serif, 'Open-Sans';


$font_default: $font_stack_2;
$font_xsm: $font_stack_2;
$font_sm: $font_stack_2;
$font_md: $font_stack_1;
$font_lg: $font_stack_1;

//COLOURS

$color-1: #333333;
$color-2: #5c5c5c;
$color-3: #858585;
$color-4: #adadad;
$color-5: #d6d6d6;

$color-white: #ffffff;

$color-lightest: #ECECEC;
$color-light: #dfe0d0;
$color-dark: #747474;
$color-darkest: #6B6B69;
$color-black: #000000;

$color-main_background: #c4c4c4;
$color-content-outer_background: $color-white;

//Default Text Colours

$color-text-xlarge: $color-1;
$color-text-xlarge-link: $color-1;

$color-text-large: $color-1;
$color-text-large-link: $color-1;

$color-text-medium: $color-1;
$color-text-medium-link: $color-1;

$color-text-small: $color-dark;
$color-text-small-link: $color-dark;

$color-menu_background: $color-1;
$color-menu-link: $color-white;



//BUTTONS

//Button Hover Effects

$button-hover: true;
$hover-color: $color-3;

//Button Border

$border-radius: 0;
$border-width: 2px;
$border-color: $color-1;

//GRID

//Mobile Widths

$mobile-max: 580px;
$tablet-max: 390px;

$desktop-extend: false; //Adds 800px override on desktop


// Spacing

$padding-max: 100;
$margin-max: 100;
$space-max: 200;

// Menu

$menu-bg-color: $color-5;

// Social

$social-bg-color: $color-2;



