{% include "partials/header.nunjucks" %}


{# START LAYOUTS #}



{# First snippet #}
   
   <table role="presentation" class="imp content-outer color-bg-white" align="center" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="imp side">
        </td>
        <td class="imp content-inner" valign="top" align="center">
            <div class="imp space-15"> &nbsp; </div>
            <table role="presentation" class="imp section" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td class="imp col-full block" valign="top" align="center">
                        <div class="imp text-sm desktop-text-center mobile-text-center margin-b-0">
                            Preheader goes here - <a href="[weblink]" target="_blank">View online</a>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="imp space-15"> &nbsp; </div>
        </td>
        <td class="imp side">
        </td>
    </tr>
</table>



{# END LAYOUTSX #}


{% include "partials/footer.nunjucks" %}