{% include "partials/header.nunjucks" %}

{# START LAYOUTS  #}
<repeater>

{# preheaders #}
<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">preheader-01</small>    
</h3>
{% include "snippets/preheaders/preheader-01.nunjucks" %}

<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">preheader-02</small>    
</h3>
{% include "snippets/preheaders/preheader-02.nunjucks" %}


{# Intro #}
<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">intro-background-image</small>    
</h3>
{% include "snippets/stories-introductions/intro-background-image.nunjucks" %}



{# Full width #}

<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">FW-image-inc-side</small>
</h3>
{% include "snippets/full-widths/fw-image.nunjucks" %} 

<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">FW-title</small>
</h3>
{% include "snippets/full-widths/FW-title.nunjucks" %}

<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">FW-text</small>
</h3>
{% include "snippets/full-widths/FW-text.nunjucks" %} 

<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">fw-button</small>
</h3>
{% include "snippets/full-widths/fw-button.nunjucks" %}

{# 1 column #}
<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">story-1col-bg-color-no-gaps</small>
</h3>
{% include "snippets/stories-1col/story-1col.nunjucks" %} 
  
{# 2 columns #}
<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">story-2col</small>  
</h3>
{% include "snippets/stories-2col/story-2col.nunjucks" %}

{# 3 columns #}
<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">story-3col</small>    
</h3>
{% include "snippets/stories-3col/story-3col.nunjucks" %}

{# Galleries #}
<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">gallery-01</small>    
</h3>
{% include "snippets/galleries/gallery-01.nunjucks" %}

{# Social Media #}
<h3 class="imp content-outer color-bg-white color-dark mt-30 px-25">
    <small style="font-size: 80%">social-media-01</small>    
</h3>
{% include "snippets/social-media/social-media-01.nunjucks" %}


</repeater>
{# END LAYOUTS #}


{% include "partials/footer.nunjucks" %}

