.fw-title{
    .section{
        .story-title-spacer.before{
            @extend .space-25;
        }
        .story-title{
            @extend .text-lg;
            @extend .pb-0;
            @extend .color-bg-white;
        }
        .story-title-spacer.after{
            @extend .space-5;
        }
    }
}