.fw-story-1col{
    .section{
        .section-content > tr > td{
            @extend .p-20;
        }
        .story-title{
            @extend .text-md;
        }
        .story-title-spacer.after{
            @extend .space-5;
        }
        .story-intro{
            @extend .text-sm;
            p{
                @extend .text-sm;
            }
        }
        .story-intro-spacer.after{
            @extend .space-15;
        }
    }
}