.fw-text{
    .section{
        .story-intro{
            @extend .text-sm;
            p{
                @extend .text-sm;
            }
        }
        .story-intro-spacer.after{
            @extend .space-20;
        }
    }
}

