.intro-background-image{
    @extend .color-bg-white;
    @extend .color-2;
    .story-title-spacer.before{
        @extend .space-85;
    }
    .section-content{
        @extend .p-30;
    }
    .story-title{
        @extend .text-lg;
        @extend .pb-0;
    }
    .story-title-spacer{
        @extend .space-5;
    }
    .story-intro{
        @extend .text-sm;
    }
    .story-intro-spacer.after{
        @extend .space-20;
    }
    .section-button-spacer.after{
        @extend .space-170;
    }  
}