.menus{
    background-color: $menu-bg-color;
    .menu-item{
        text-decoration: none;
        @extend .text-md;
        color: $color-menu-link;
    }
    .spacer{
        @extend .space-15;
    }
}