.story-2col {
    .section {
            .section-content {
                @extend .pt-10;
                @extend .pb-10;
                .story-title-spacer.before {
                    @extend .space-10;
                }                
                .story-title {
                    @extend .text-md;
                }
                .story-title-spacer.after {
                    @extend .space-5;
                }
                .story-intro {
                    @extend .text-sm;
                    p{
                        @extend .text-sm;
                    }
                }
                .story-intro-spacer.after {
                    @extend .space-20;
                }
            }

    }
    &.story-2col-bg .section .col-1-2.block {
        background-color: $color-4;
        tr td.section-content {
            @extend .pt-20;
            @extend .pr-20;
            @extend .pb-20;
            @extend .pl-20;
        }
    }
    .spacer {
        @extend .space-15;
    }
}