.story-3col {
    .section-content {
        @extend .pt-10;
        @extend .pb-10;
        .story-title {
            @extend .text-md;
        }
        .story-title-spacer {
            @extend .space-5;
        }
        .story-intro {
            @extend .text-sm;
            p{
                @extend .text-sm;
            }
        }
        .story-intro-spacer {
            @extend .space-15;
        }
    }
    &.story-3col-bg {
        .section .col-1-3.block {
            background-color: $color-4;
            tr td.section-content {
                @extend .pt-20;
                @extend .pr-20;
                @extend .pb-20;
                @extend .pl-20;
            }
        }
    }
    .spacer {
        @extend .space-15;
    }
}