<table role="presentation" class="imp content-outer" align="center" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="imp side">
        </td>
        <td class="imp content-inner" valign="top" align="center">
            <div class="imp space-md"> &nbsp; </div>

            <table role="presentation" class="imp section" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td class="imp col-full block" valign="top" align="center">
                        Footer goes here
                        <unsubscribe> and </unsubscribe>
                    </td>
                </tr>
            </table>
            <div class="imp space-20"> &nbsp; </div>

        </td>
        <td class="imp side">
        </td>
    </tr>
</table>

</td>
</tr>
</table>

</div>
</body>

</html>
