.mcd.np{
    .story-button{
        .edit-content .tpl-content{
            padding: 0 !important; 
            white-space: normal;
            margin-top: -2px;
        }
    }
    .story-3col {
        .image .edit-image{
            width: 180px;
        }
        .story-button{
            margin: 0; 
            padding: 0;
            height: auto;
        }
    }
}

.mcnPreviewText{display: none !important;}

