{% if (base.platform == 'mc') %}
    {% set gallery_image = gallery_image if gallery_image else 'https://via.placeholder.com/' + image_width + 'x' + image_height + '/' + base.placeholder_color | safe %}
{% else %}
    {% set gallery_image = gallery_image if gallery_image else 'https://via.placeholder.com/' + image_width*2 + 'x' + image_height*2 + '/' + base.placeholder_color | safe %}
{% endif %}
{% set rand %}{% include base.path + "random-number-gen.njk" %}{% endset %}

{% if (base.platform == 'cm') %}
    <img editable label="Gallery image" class="imp fill gallery-image" src="{{gallery_image}}" alt="{{base.company_name}}" width="{{image_width}}" align="top" />
{% elif (base.platform == 'mc') %}
    <img mc:edit="gallery_image_id{{rand}}" class="imp fill gallery-image" src="{{gallery_image}}" alt="{{base.company_name}}" style="max-width: {{image_width}}px" align="top" />
{% else %}
    <img class="imp fill gallery-image" src="{{gallery_image}}" alt="{{base.company_name}}" width="{{image_width}}" align="top" />
{% endif %}