{% if (base.platform == 'cm') and (editable === true) %}
    <singleline label="Menu item" class="imp menu-item">{{link.title}}</singleline>
{% elif (base.platform == 'mc') %}
    <a mc:edit="menu_item_id{{rand}}" href="{{link.url}}" class="imp menu-item" target="_blank">{{link.title}}</a>
{% else %}
    <a href="{{link.url}}" class="imp menu-item" target="_blank">{{link.title}}</a>
{% endif %}