{% set simple_text = simple_text if simple_text else "Text here" | safe %}
{% set rand %}{% include base.path + "random-number-gen.njk" %}{% endset %}

{% if (base.platform == 'cm') %}
    <singleline label="Text" class="imp simple-text">{{simple_text}}</singleline>
{% elif (base.platform == 'mc') %}
    <span mc:edit="simple_text_id{{rand}}" class="imp simple-text" style="background: inherit">{{simple_text}}</span>
{% else %}
    <span class="imp simple-text">{{simple_text}}</span>
{% endif %}