{% if (base.platform == 'cm') and (editable === true) %}
    <img editable label="Social image" src="{{link.image}}" alt="" width="30" height="30" />
{% elif (base.platform == 'mc') %}
    <a mc:edit="menu_item_id{{rand}}" href="{{link.url}}" class="menu-item" target="_blank">
        <img mc:edit="story_image_id{{rand}}" label="Social image" src="{{link.image}}" alt="" width="30" height="30" />
    </a>
{% else %}
    <a href="{{link.url}}" class="menu-item" target="_blank">
        <img label="Social image" src="{{link.image}}" alt="" width="30" height="30" />
    </a>
{% endif %}