{# {% if (base.platform == 'mc') %} #}
    {% set story_image = story_image if story_image else 'https://via.placeholder.com/' + image_width + 'x' + image_height + '/' + base.placeholder_color | safe %}
{# {% else %}
    {% set story_image = story_image if story_image else 'https://via.placeholder.com/' + image_width*2 + 'x' + image_height*2 + '/' + base.placeholder_color | safe %}
{% endif %} #}



{% set button_link = button_link if button_link else base.company_website %}
{% set image_link = image_link if image_link else button_link %}
{% set rand %}{% include base.path + "random-number-gen.njk" %}{% endset %}

<div class="imp image story-image {{tag_class}}" {% if (im_style) %} style="{{im_style}}" {% endif %}>
    {% if (base.platform == 'cm') %}
        <img editable label="Story image" class="imp fill" src="{{story_image}}" alt="{{base.company_name}}" width="{{image_width}}" align="top" />
    {% elif (base.platform == 'mc') %}
        <img mc:edit="story_image_id{{rand}}" class="imp fill" src="{{story_image}}" alt="{{base.company_name}}" style="max-width: {{image_width}}px" align="top" />
    {% else %}
    <a href="{{image_link}}" target="_blank">
        <img class="imp fill" src="{{story_image}}" alt="{{base.company_name}}" width="{{image_width}}" align="top" />
    </a>
    {% endif %}
</div>