{% set button_title = button_title if button_title else "Button title" %}
{% set button_link = button_link if button_link else base.company_website %}
{% set rand %}{% include base.path + "random-number-gen.njk" %}{% endset %}

    <table role="presentation" class="imp story-button {{bt_classes}}" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td align="center">
                {% if (base.platform == 'cm') %}
                    <singleline label="Button text">{{button_title|safe}}</singleline>
                {% elif (base.platform == 'mc') %}
                    <span mc:edit="story_button_id{{rand}}" style="background: inherit">{{button_title|safe}}</span>
                {% else %}
                    <a href="{{button_link}}" target="_blank">{{button_title|safe}}</a>
                {% endif %}
            </td>
        </tr>
    </table>