{% set story_intro = story_intro if story_intro else "Intro text goes here" | safe %}
{% set rand %}{% include base.path + "random-number-gen.njk" %}{% endset %}

{% if (base.platform == 'cm') %}
    <multiline label="Story intro"><p>{{story_intro|safe}}</p></multiline>
{% elif (base.platform == 'mc') %}
    <span mc:edit="story_intro_id{{rand}}" class="imp story-intro" style="background: inherit">{{story_intro|safe}}</span>    
{% else %}
    {{story_intro|safe}}
{% endif %}