{% set story_title = story_title if story_title else "Title goes here" | safe %}
{% set rand %}{% include base.path + "random-number-gen.njk" %}{% endset %}

{% if (base.platform == 'cm') %}
    <singleline label="Story title" class="imp story-title">{{story_title|safe}}</singleline> 
{% elif (base.platform == 'mc') %}
    <span mc:edit="story_title_id{{rand}}" class="imp story-title" style="background: inherit">{{story_title|safe}}</span> 
{% else %}
    {{story_title|safe}}
{% endif %}