body{
	height:100%;
	margin:0;
	padding:0;
	width:100%;
}
p{
	margin:1em 0;
	padding:0;
}
table{
	border-collapse:collapse !important;
	border-spacing: 0;
}
h1,h2,h3,h4,h5,h6{
	display:block;
	margin:0;
	padding:0;
}
img,a img{
	border:0;
	height:auto;
	outline:none;
	text-decoration:none;
}
#outlook a{
	padding:0;
}
img{
	-ms-interpolation-mode:bicubic;
}
table{
	mso-table-lspace:0pt;
	mso-table-rspace:0pt;
}
.ReadMsgBody{
	width:100%;
}
.ExternalClass{
	width:100%;
}
p,a,li,td,blockquote{
	mso-line-height-rule:exactly;
}
a[href^=tel],a[href^=sms]{
	color:inherit;
	cursor:default;
	text-decoration:none;
}
p,a,li,td,body,table,blockquote{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
.ExternalClass{
	p,td,div,span,font {
	line-height:100%;
}
}