/* RESET */

body {
	margin:0; 
	padding:0;
	width: 100%;
	height:100% !important;
}

img { 
	border:0; 
	height:auto; 
	line-height:100%; 
	outline:none; 
	text-decoration:none;
	max-width: 100%
}

table { 
	border-collapse:collapse !important;
}


/* CLIENT SPECIFIC STYLES */

/* Force Outlook to provide a "view in browser" message */
#outlook a {
	padding:0;
} 

.ReadMsgBody{
	width:100%;
} 
.ExternalClass {
	width:100%;
	line-height: 100%;
	p,
	span,
	font,
	td,
	div {
		line-height: 100%;
	}
}

body, table, td, p, a, li, blockquote {
  -webkit-text-size-adjust: 100%; 
  -ms-text-size-adjust:100%;
} 

/* Remove spacing between tables in Outlook 2007 and up */
table, td {
  mso-table-lspace:0pt; 
  mso-table-rspace:0pt;
} 

/* Allow smoother rendering of resized image in Internet Explorer */
img {
  -ms-interpolation-mode:bicubic;
}


// http://meyerweb.com/eric/tools/css/reset/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
//table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

