@for $var from 0 through $margin-max {
    @if $var % 5 == 0 {
        .m-#{$var} { 
            @if $var == 0 {
                margin: #{$var}px !important;
            } @else {
                margin: #{$var}px;
            }
        }
        .mt-#{$var} { 
            @if $var == 0 {
                margin-top: #{$var}px !important;
            } @else {
                margin-top: #{$var}px;
            }
        }
        .mr-#{$var} { 
            @if $var == 0 {
                margin-right: #{$var}px !important;
            } @else {
                margin-right: #{$var}px;
            }
        }
        .mb-#{$var} { 
            @if $var == 0 {
                margin-bottom: #{$var}px !important;
            } @else {
                margin-bottom: #{$var}px;
            }
        }
        .ml-#{$var} { 
            @if $var == 0 {
                margin-left: #{$var}px !important;
            } @else {
                margin-left: #{$var}px;
            }
        }
        .mx-#{$var} { 
            @if $var == 0 {
                margin-top: #{$var}px !important;
                margin-bottom: #{$var}px !important;
            } @else {
                margin-top: #{$var}px !important;
                margin-bottom: #{$var}px !important;
            }
        }
        .my-#{$var} { 
            @if $var == 0 {
                margin-right: #{$var}px !important;
                margin-left: #{$var}px !important;
            } @else {
                margin-right: #{$var}px !important;
                margin-left: #{$var}px !important;
            }
        }
    }
}