@for $var from 0 through $padding-max {
    @if $var % 5 == 0 {
        .p-#{$var} { 
            @if $var == 0 {
                padding: #{$var}px !important;
            } @else {
                padding: #{$var}px;
            }
        }
        .pt-#{$var} { 
            @if $var == 0 {
                padding-top: #{$var}px !important;
            } @else {
                padding-top: #{$var}px;
            }
        }
        .pr-#{$var} { 
            @if $var == 0 {
                padding-right: #{$var}px !important;
            } @else {
                padding-right: #{$var}px;
            }
        }
        .pb-#{$var} { 
            @if $var == 0 {
                padding-bottom: #{$var}px !important;
            } @else {
                padding-bottom: #{$var}px;
            }
        }
        .pl-#{$var} { 
            @if $var == 0 {
                padding-left: #{$var}px !important;
            } @else {
                padding-left: #{$var}px;
            }
        }
        .px-#{$var} { 
            @if $var == 0 {
                padding-top: #{$var}px !important;
                padding-bottom: #{$var}px !important;
            } @else {
                padding-top: #{$var}px !important;
                padding-bottom: #{$var}px !important;
            }
        }
        .py-#{$var} { 
            @if $var == 0 {
                padding-right: #{$var}px !important;
                padding-left: #{$var}px !important;
            } @else {
                padding-right: #{$var}px !important;
                padding-left: #{$var}px !important;
            }
        }
    }
}