@for $var from 0 through $space-max {
    @if $var % 5 == 0 {
        .space-#{$var} { 
            display: block;
            clear: both;
            font-size: #{$var}px;
            height: #{$var}px;
            mso-line-height-rule: exactly;
            line-height: #{$var}px;
            margin: 0px;
            padding: 0px;
        }
    }
}