{% set fonts = [{ url: 'https://fonts.googleapis.com/css?family=Playfair Display:400,700'},
{ url: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700'}]%}

{% include "partials/head.nunjucks" %}
{% include "partials/header.nunjucks" %}

    {% include "snippets/preheaders/preheader-01.nunjucks" %}

    {% set show_side = false %}
    {% set story_image = "images/images-assets/header.jpg" %}
    {% include "snippets/full-widths/fw-image.nunjucks" %}


    {% set show_side = true %}
    {% set image_height = ""%}
 

        {% set story_title = "Lorem ipsum dolor sit amet" %}
        {% set align = "center" %}
        {% include "snippets/full-widths/fw-title.nunjucks" %} 
        {% set story_intro = "Consectetur  elit. Integer fermentum scelerisque urna, at lacinia purus sagittis non. Aenean nisl risus, consequat eu diam sit amet, consectetur pulvinar nisi. Nunc nec est non mi faucibus finibus." %}
        {% set align = "center" %}
        {% include "snippets/full-widths/fw-text.nunjucks" %} 
        {% set align = "center" %}
        {% include "snippets/full-widths/fw-button.nunjucks" %} 
        {% set spacer = '25' %}
        {% include "snippets/full-widths/fw-spacer.nunjucks" %}

        
        {% set story_title = "Tempus euismod phasellus" %}
        {% set background = true %}
        {% set story_intro = "Vestibulum condimentum tempus euismod. Phasellus ligula nibh, ornare at ligula a." %}
        {% set button_title = "Phasellus a mauris" %}
        {% set layout = "left" %}
        {% set size = "" %}
        {% set image_width = "" %}
        {% set align = "" %}
        {% set mobile_align = "" %}
        {% set valign = "middle" %}
        {% set show_button = true %}
        {% set custom_class = "" %}
        {% set story_image = "images/images-assets/story_1.jpg" %}
        {% include "snippets/stories-1col/story-1col.nunjucks" %}

        
        {% set story_title = "Maecenas ultricies purus" %}
        {% set story_intro = "Aliquam sit amet ultricies nulla, mollis vehicula ante. Nulla facilisi. Donec convallis vehicula fringilla." %}
        {% set button_title = "Sodales vel neque" %}
        {% set layout = "right" %}
        {% set size = "" %}
        {% set image_width = "" %}
        {% set align = "" %}
        {% set mobile_align = "" %}
        {% set valign = "middle" %}
        {% set show_button = true %}
        {% set custom_class = "" %}
        {% set story_image = "images/images-assets/story_2.jpg" %}
        {% include "snippets/stories-1col/story-1col.nunjucks" %}


        {% include "snippets/full-widths/fw-spacer.nunjucks" %}
        {% set background = false %}    
        {% set story_title_0 = "Pellentesque habitant" %}
        {% set story_intro_0 = "Sed vitae aliquet neque. Integer arcu nulla, dictum id ipsum quis, varius tempor dolor." %}
        {% set button_title_0 = "Nulla ut erat enim" %}
        {% set story_image_0 = "images/images-assets/story_3.jpg" %}
        {% set story_title_1 = "Donec aliquet nisl at" %}
        {% set story_intro_1 = "Integer arcu. Morbi id risus eleifend, viverra lectus quis, ipsum quis, varius dapibus turpis." %}
        {% set button_title_1 = " Sed mi est rhoncus" %}
        {% set story_image_1 = "images/images-assets/story_4.jpg" %}
        {% include "snippets/stories-2col/story-2col.nunjucks" %}
 
        {% set spacer = '45' %}
        {% include "snippets/full-widths/fw-spacer.nunjucks" %}

    