{% set social_links = social_links if social_links else [
    { title: "Facebook", url: "#", image: "images/icons/icon-facebook.png"},
    { title: "Twitter", url: "#", image: "images/icons/icon-facebook.png"},
    { title: "Instagram", url: "#", image: "images/icons/icon-facebook.png"}
] %}


{% if (base.platform == 'me') %}
<!-- START .social-media-01 -->
{% endif %}
<table role="presentation" class="imp content-outer social-media {{custom_class}}" align="center" cellspacing="0" cellpadding="0" border="0">
    <tr>
        {% if (show_side != false) %}
            <td class="imp side">&nbsp;</td>
        {% endif %}
        <td class="imp content-inner" valign="top" align="center">
            <div class="imp spacer"> &nbsp; </div>
            <table role="presentation" class="imp section" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td class="imp col-full block" valign="top" align="center">
                        {# Each column should fit portionatly horizontially, ensure you dont use to much width though which will cause mobile version to be too wide #}
                        {# Remove section class below if you dont want them to fit the width e.g bunched up #}
                        <table role="presentation" class="imp section" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                {% for link in social_links %}
                                    <td valign="{{valign}}" align="center">
                                        {% include base.path + "social-link.njk" %}
                                    </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div class="imp spacer"> &nbsp; </div>
        </td>
        {% if (show_side != false) %}
            <td class="imp side">&nbsp;</td>
        {% endif %}
    </tr>
</table>
{% if (base.platform == 'me') %}
<!-- END .social-media-01 -->
{% endif %}